body {
    background-color:burlywood;

}
h1 {
    text-align: center;
    color: #000000;
    font-size: 25px;
    font-family: 'Segoe UI';
    
}
h2{
    color:#dff6ff;
    text-align: center;

}
p {
    font-size: large;
    text-align: center;
    font-weight: bold;
    color:white;
}
img{
    max-width: 25%;
    max-height: 25%;
}
ol li {
    font-size: 30px;
    color:midnightblue;
}
ul li {

    font-weight: bold;
    background-color: #dcf539;
    text-align: center;
}

.enviar{
    border-radius: 5px;
  
}
.etiqueta{
   
}
button{
  
   color: #000000;
   background-color: bisque;
    border-radius: 20%;
}
form{
    text-align: center;
}